<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <File name="File" fileName="jeu-projet3.log" bufferedIO="true" advertiseURI="file://jeu.log" advertise="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [games] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>